<div class="search-container">
  <div class="search-label">Sales Name</div>
  <div class="text-and-option">
    <div class="search-input" appearance="outline">
      <input
        type="text"
        matInput
        [formControl]="salesRepCtrl"
        [matAutocomplete]="auto"
        ngClass=""
        (blur)="onBlur($event)"
        #input
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let rep of filteredSalesReps | async" [value]="rep">
          {{ rep }}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
</div>
