.search-label {
  margin-left: 10px;
}

.text-box {
  width: 120px;
  margin-left: 10px;
}

.search-container {
  margin-top: 10px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.mat-option {
  height: auto;
  line-height: 1.5;
}

input[readonly] {
  background-color: #f0f0f0;
}
